
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>
<form method="post">
    <label>Kategori adı</label>
    <input type="text" class="form-control" name="categoryName" style="border:groove" />
    <br />
    <button class="btn btn-info">Kategoriyi Ekle</button>
</form>

